In [2]:
##Database

In [3]:
## lets open our dataframes

In [4]:
import pandas as pd
import re

In [5]:
interviews = pd.read_csv('Glass_door_scrapping\\interviews.csv')
interviews['interviews_id'] = range(1, len(interviews) + 1)
interviews

,job_company,questions,answers,country,area,interviews_id
0,UI/UX Designer Sênior at Agência Bend was aske...,"Sobre inteligência emocional, pois hoje é muit...",Sou uma pessoa comunicativa e tento sempre man...,Brazil,UX/UI Designer,1
1,UI/UX Designer at Instituto de Desenvolvimento...,O fato de você ser muito centrado te atrapalha...,"Que atrapalhar, atrapalha. Mas não significati...",Brazil,UX/UI Designer,2
2,UX Designer at MobLee was asked...,Se interessaram pelo processo de criação usand...,Desenvolvi a partir do que havia feito.,Brazil,UX/UI Designer,3
3,UI/UX Designer Estágio at Reino Studio was ask...,qual seu processo de produção de um app?,"pesquisa, fluxograma, wireframe, entrevista co...",Brazil,UX/UI Designer,4
4,UI/UX Designer at Revelo was asked...,Perguntas sobre marketing como Roi de campanha.,Minha area é de design,Brazil,UX/UI Designer,5
...,...,...,...,...,...,...
1784,UX Designer at Microlise was asked...,Describe what User Experience means to you?,No answer,United Kingdom,UX/UI Designer,1785
1785,Senior UX Designer at Amazon was asked...,Describe a time where you made a mistake on a ...,No answer,United Kingdom,UX/UI Designer,1786
1786,UX Designer at OVO was asked...,General questions regarding experience and ski...,No answer,United Kingdom,UX/UI Designer,1787
1787,UX Designer at Rapid7 was asked...,General questions based around the topic of re...,No answer,United Kingdom,UX/UI Designer,1788
1788,UX Designer at ThoughtWorks was asked...,What kind of experience have you had?,No answer,United Kingdom,UX/UI Designer,1789

In [10]:
interviews['area'].unique()

interviews['area'] = interviews['area'].str.replace('Data Analyst','Data Analytics')
interviews['area'].unique()

array(['UX/UI Designer', 'Web Developer', 'Data Analytics', nan],
      dtype=object)

In [5]:
jobs = pd.read_csv('Linkedin_DF.csv')
jobs = jobs.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])
jobs['jobs_id'] = range(1, len(jobs) + 1)
jobs

,Course,Job,Company,Location,Link,jobs_id
0,Data Analytics,Data Analyst,IKEA,"Malmo, Suécia",https://www.linkedin.com/jobs/view/2576902120/...,1
1,Data Analytics,Data Scientist,Volvo Group,"Gotemburgo, Suécia",https://www.linkedin.com/jobs/view/2573853820/...,2
2,Data Analytics,Business Intelligence Analyst - Personalization,Spotify,"Estocolmo, Suécia",https://www.linkedin.com/jobs/view/2500120866/...,3
3,Data Analytics,Analytics Analyst,Electrolux,"Estocolmo, Suécia",https://www.linkedin.com/jobs/view/2567390482/...,4
4,Data Analytics,"Data & Analytics Consultant, Tableau",Salesforce,"Frankfurt, Alemanha",https://www.linkedin.com/jobs/view/2559929192/...,5
...,...,...,...,...,...,...
81,Web Developer,Frontend Web Developer & UX Designer,MyPrivateBoutique & MyPrivateDressing,"Guimarães, Portugal",https://www.linkedin.com/jobs/view/2546109849/...,82
82,Web Developer,Perl Web Developer,BOLD by Devotam,"Lisboa, Portugal",https://www.linkedin.com/jobs/view/1697760822/...,83
83,Web Developer,Web Developer,Equus Software,"Porto, Portugal",https://www.linkedin.com/jobs/view/2320880960/...,84
84,Web Developer,Web Application Developer,WireMaze,"Lisboa, Portugal",https://www.linkedin.com/jobs/view/2559171197/...,85
85,Web Developer,Junior Web Developer,WireMaze,"Porto, Portugal",https://www.linkedin.com/jobs/view/2565283975/...,86

In [6]:
def get_city(locat):
    return re.findall('(.+)(, )(.+)',locat)[0][0]

def get_country(locat):
    return re.findall('(.+)(, )(.+)',locat)[0][2]

jobs['City'] = jobs['Location'].apply(get_city)
jobs['Country'] = jobs['Location'].apply(get_country)
jobs

,Course,Job,Company,Location,Link,jobs_id,City,Country
0,Data Analytics,Data Analyst,IKEA,"Malmo, Suécia",https://www.linkedin.com/jobs/view/2576902120/...,1,Malmo,Suécia
1,Data Analytics,Data Scientist,Volvo Group,"Gotemburgo, Suécia",https://www.linkedin.com/jobs/view/2573853820/...,2,Gotemburgo,Suécia
2,Data Analytics,Business Intelligence Analyst - Personalization,Spotify,"Estocolmo, Suécia",https://www.linkedin.com/jobs/view/2500120866/...,3,Estocolmo,Suécia
3,Data Analytics,Analytics Analyst,Electrolux,"Estocolmo, Suécia",https://www.linkedin.com/jobs/view/2567390482/...,4,Estocolmo,Suécia
4,Data Analytics,"Data & Analytics Consultant, Tableau",Salesforce,"Frankfurt, Alemanha",https://www.linkedin.com/jobs/view/2559929192/...,5,Frankfurt,Alemanha
...,...,...,...,...,...,...,...,...
81,Web Developer,Frontend Web Developer & UX Designer,MyPrivateBoutique & MyPrivateDressing,"Guimarães, Portugal",https://www.linkedin.com/jobs/view/2546109849/...,82,Guimarães,Portugal
82,Web Developer,Perl Web Developer,BOLD by Devotam,"Lisboa, Portugal",https://www.linkedin.com/jobs/view/1697760822/...,83,Lisboa,Portugal
83,Web Developer,Web Developer,Equus Software,"Porto, Portugal",https://www.linkedin.com/jobs/view/2320880960/...,84,Porto,Portugal
84,Web Developer,Web Application Developer,WireMaze,"Lisboa, Portugal",https://www.linkedin.com/jobs/view/2559171197/...,85,Lisboa,Portugal
85,Web Developer,Junior Web Developer,WireMaze,"Porto, Portugal",https://www.linkedin.com/jobs/view/2565283975/...,86,Porto,Portugal

In [7]:
jobs['Country'] = jobs['Country'].str.replace('Suécia','Sweden')
jobs['Country'] = jobs['Country'].str.replace('Alemanha','Germany')
jobs['Country'] = jobs['Country'].str.replace('Inglaterra','United Kingdom')
jobs['Country'] = jobs['Country'].str.replace('Brasil','Brazil')
jobs['Country'] = jobs['Country'].str.replace('Itália','Italy')
jobs['Country'] = jobs['Country'].str.replace('Espanha','Spain')

jobs['Country'].unique()

array(['Sweden', 'Germany', 'United Kingdom', 'Brazil', 'Italy', 'Spain',
       'Portugal'], dtype=object)

In [8]:
#establish connection
import mysql.connector
from getpass import getpass

In [9]:
passw = getpass('Enter your password')

cnx = mysql.connector.connect(user = "root", password = passw,host="localhost")

In [10]:
cnx.is_connected()

True

In [11]:
cursor = cnx.cursor()
cursor

In [12]:
# Create database
query = ("""CREATE DATABASE jobs_interviews;""")
cursor.execute(query)

In [13]:
from sqlalchemy import create_engine

In [14]:
#Create a engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw=passw,
                               db="jobs_interviews"))

In [15]:
#Create comments table in mysql with all data
interviews.to_sql('interviews', con = engine, if_exists = 'append', chunksize = 1000)

In [16]:
#Add Primary key in comments table
query = ("""ALTER TABLE jobs_interviews.interviews ADD PRIMARY KEY(interviews_id);""")
cursor.execute(query)

In [17]:
#Create comments table in mysql with all data
jobs.to_sql('jobs', con = engine, if_exists = 'append', chunksize = 1000)

In [18]:
#Add Primary key in comments table
query = ("""ALTER TABLE jobs_interviews.jobs ADD PRIMARY KEY(jobs_id);""")
cursor.execute(query)