In [1]:
import mysql.connector
from getpass import getpass
import pandas as pd

In [2]:
passw = getpass('Enter your password')

cnx = mysql.connector.connect(user = "root", password = passw,host="localhost",database="jobs_interviews")

In [3]:
cnx.is_connected()

True

In [4]:
cursor = cnx.cursor()
cursor

In [5]:
def queries_execute(x):
    cursor.execute(x)
    queries_result = cursor.fetchall()
    return queries_result

In [6]:
def job_search():
    #first lets show courses possibilities:
    courses_possibilites = queries_execute("""SELECT DISTINCT Course FROM jobs_interviews.jobs;""")
    options = pd.DataFrame(courses_possibilites)
    display(options)
    course_choice = int(input('Choose your course:'))
    while course_choice not in range(int(options.shape[0])):
        display('Please try again')
        course_choice = int(input('Choose your course:'))
    course = options.loc[course_choice,0]
    
    #second lets show locations possibilities:
    locations_possibilites = queries_execute("""SELECT DISTINCT Country FROM jobs_interviews.jobs;""")
    options1 = pd.DataFrame(locations_possibilites)
    display(options1)
    location_choice = int(input('Choose your location:'))
    while location_choice not in range(int(options1.shape[0])):
        display('Please try again')
        location_choice = int(input('Choose your course:'))

    location = options1.loc[location_choice,0]
    
    #your jobs possibilities
    your_jobs = queries_execute("""SELECT Course,Job,Company,Link,City,Country FROM jobs_interviews.jobs WHERE ((Course = '"""+course+"""') & (Country = '"""+location+"""'));""")
    job_option = pd.DataFrame(your_jobs, columns=['Course','Job','Company','Link','City','Country'])
    display(job_option)

    #lets choose your perfect job
    application_choice = int(input('Choose the job you want to apply:'))
    while application_choice not in range(int(job_option.shape[0])):
        display('Please try again')
        application_choice = int(input('Choose the job you want to apply:'))

    the_job = job_option.iloc[application_choice]
    the_job = pd.Series(the_job, index=['Course','Job','Company','Link','City','Country'])
    display(the_job)
    return the_job

In [51]:
job_choice = job_search()

                0
0  Data Analytics
1  UX/UI Designer
2   Web Developer

                0
0          Sweden
1         Germany
2  United Kingdom
3          Brazil
4           Italy
5           Spain
6        Portugal

,Course,Job,Company,Link,City,Country
0,Data Analytics,Data Analytics Consultant,Ytech,https://www.linkedin.com/jobs/view/2552620190/...,Lisboa,Portugal
1,Data Analytics,Data Analytics - Python Developer (m/f) - Lisboa,BOLD by Devotam,https://www.linkedin.com/jobs/view/2547701342/...,Lisboa,Portugal
2,Data Analytics,Senior Data Analytics Architect (M/F),Adidas,https://www.linkedin.com/jobs/view/2467276236/...,Porto,Portugal
3,Data Analytics,Data Analytics,EDP,https://www.linkedin.com/jobs/view/2577668656/...,Lisboa,Portugal
4,Data Analytics,Data Analytics Senior Consultant,Ytech,https://www.linkedin.com/jobs/view/2552623043/...,Lisboa,Portugal

Course                                        Data Analytics
Job                                           Data Analytics
Company                                                  EDP
Link       https://www.linkedin.com/jobs/view/2577668656/...
City                                                  Lisboa
Country                                             Portugal
Name: 3, dtype: object

In [56]:
job_choice.iloc[5]

'Portugal'

In [9]:
def interview_prep():
    #first get the job information
    job_choice = job_search()
    job_area = job_choice.iloc[0]
    job_location = job_choice.iloc[5]

    #your preparation
    your_questions = queries_execute("""SELECT job_company,questions,answers FROM jobs_interviews.interviews WHERE ((country = '"""+job_location+"""') & (area = '"""+job_area+"""'));""")
    prep_option = pd.DataFrame(your_questions, columns=['job_company','questions','answers'])
    display(prep_option)

    #maybe choose by country or area only

    #choose only the lines that you want

In [10]:
interview_prep()

                0
0  Data Analytics
1  UX/UI Designer
2   Web Developer

                0
0          Sweden
1         Germany
2  United Kingdom
3          Brazil
4           Italy
5           Spain
6        Portugal

,Course,Job,Company,Link,City,Country
0,UX/UI Designer,UX UI/Product Designer (Remote),"Loka, Inc.",https://www.linkedin.com/jobs/view/2570699562/...,Lisboa,Portugal
1,UX/UI Designer,UX/UI Designer,BOLD by Devoteam,https://www.linkedin.com/jobs/view/1747541134/...,Lisboa,Portugal

Course                                        UX/UI Designer
Job                                           UX/UI Designer
Company                                     BOLD by Devoteam
Link       https://www.linkedin.com/jobs/view/1747541134/...
City                                                  Lisboa
Country                                             Portugal
Name: 1, dtype: object

,job_company,questions,answers
0,UX Designer at Sport Zone was asked...,Can you work under pressure?,Yes.
1,UX Designer at Sport Zone was asked...,Why do you want to leave you actual job?,I want a new experience.
2,UX Designer at Sport Zone was asked...,Talk about you and your experience.,I just focused on my experience.
3,UI & UX Designer at BNP Paribas was asked...,Previous experiences with data visualization,No answer
4,UX Designer at Zalando was asked...,"The interview was more about my experience, me...",No answer
5,UI/UX Designer at Pixelmatters was asked...,What is for you/your understading of UI/UX Des...,No answer
6,Ui\Ux Designer at YGroup Companies was asked...,"If you had to validate this solution, how woul...",No answer
7,UX Designer at Sport Zone was asked...,What do you expect from this job?,Be happy doing what I love to do. A fair salar...
8,UX Designer at Feedzai was asked...,They questioned Front-End Development instead ...,No answer
9,Sr UX Designer 2 at Springer Nature was asked...,"Tell me about your experience, explain your de...",No answer
10,UI/UX Designer at OutSystems was asked...,Describe the UX process you are aware of.,No answer
11,UI Designer at WIT Software was asked...,Why do you want to join us? What motivates you?,"To live and learn, to contribute and to evolve..."
12,UX-UI Designer at NDrive was asked...,- Why were i interested in working there and h...,No answer
13,UI & UX Designer at BNP Paribas was asked...,Previous experiences with data visualization,No answer
14,UI/UX Designer at Pixelmatters was asked...,What is for you/your understading of UI/UX Des...,No answer
15,Ui\Ux Designer at YGroup Companies was asked...,"If you had to validate this solution, how woul...",No answer
16,UX-UI Designer at BOOST IT was asked...,The interview was mostly a Q&A session based o...,No answer
17,User Experience/UI Designer at Blip was asked...,"Regular questions about your method, collabora...",No answer
18,UI/UX Designer at OutSystems was asked...,Describe the UX process you are aware of.,No answer