In [3]:
import mysql.connector
from getpass import getpass
import pandas as pd

In [4]:
passw = getpass('Enter your password')

cnx = mysql.connector.connect(user = "root", password = passw,host="localhost",database="jobs_interviews")

In [5]:
cnx.is_connected()

True

In [6]:
cursor = cnx.cursor()
cursor

In [7]:
def queries_execute(x):
    cursor.execute(x)
    queries_result = cursor.fetchall()
    return queries_result

In [8]:
def job_search():
    #first lets show courses possibilities:
    courses_possibilites = queries_execute("""SELECT DISTINCT Course FROM jobs_interviews.jobs;""")
    options = pd.DataFrame(courses_possibilites)
    display(options)
    course_choice = int(input('Choose your course:'))
    while course_choice not in range(int(options.shape[0])):
        display('Please try again')
        course_choice = int(input('Choose your course:'))
    course = options.loc[course_choice,0]
    
    #second lets show locations possibilities:
    locations_possibilites = queries_execute("""SELECT DISTINCT Country FROM jobs_interviews.jobs;""")
    options1 = pd.DataFrame(locations_possibilites)
    display(options1)
    location_choice = int(input('Choose your location:'))
    while location_choice not in range(int(options1.shape[0])):
        display('Please try again')
        location_choice = int(input('Choose your course:'))

    location = options1.loc[location_choice,0]
    
    #your jobs possibilities
    your_jobs = queries_execute("""SELECT Course,Job,Company,Link,City,Country FROM jobs_interviews.jobs WHERE ((Course = '"""+course+"""') & (Country = '"""+location+"""'));""")
    job_option = pd.DataFrame(your_jobs, columns=['Course','Job','Company','Link','City','Country'])
    display(job_option)

    #lets choose your perfect job
    application_choice = int(input('Choose the job you want to apply:'))
    while application_choice not in range(int(job_option.shape[0])):
        display('Please try again')
        application_choice = int(input('Choose the job you want to apply:'))

    the_job = job_option.iloc[application_choice]
    the_job = pd.Series(the_job, index=['Course','Job','Company','Link','City','Country'])
    display(the_job)
    return the_job

In [29]:
def interview_prep():
    #first get the job information
    job_choice = job_search()
    job_area = job_choice.iloc[0]
    job_location = job_choice.iloc[5]

    #your preparation
    your_questions = queries_execute("""SELECT job_company,questions,answers FROM jobs_interviews.interviews WHERE ((country = '"""+job_location+"""') & (area = '"""+job_area+"""'));""")
    prep_option = pd.DataFrame(your_questions, columns=['job_company','questions','answers'])
    display(prep_option)

    #read a specific question
    spec_question = (input('Do you want to see specific question? Y/N:')).lower()
    while spec_question != 'n':
        if spec_question == 'y':
            question_choice = int(input('Choose the question you want to read:'))
            while question_choice not in range(int(prep_option.shape[0])):
                display('Please try again')
                question_choice = int(input('Choose the question you want to read:'))
            quest = prep_option.at[question_choice,'questions']
            display(quest)
            spec_question = (input('Do you want to see another question? Y/N:')).lower()
        
        else:
            spec_question = (input('You option is not possible. Do you want to see another question? Y/N:')).lower()

    if spec_question == 'n':
        display('Lets get the job!!')

In [30]:
interview_prep()

                0
0  Data Analytics
1  UX/UI Designer
2   Web Developer

                0
0          Sweden
1         Germany
2  United Kingdom
3          Brazil
4           Italy
5           Spain
6        Portugal

,Course,Job,Company,Link,City,Country
0,Data Analytics,Data Analytics Consultant,Ytech,https://www.linkedin.com/jobs/view/2552620190/...,Lisboa,Portugal
1,Data Analytics,Data Analytics - Python Developer (m/f) - Lisboa,BOLD by Devotam,https://www.linkedin.com/jobs/view/2547701342/...,Lisboa,Portugal
2,Data Analytics,Senior Data Analytics Architect (M/F),Adidas,https://www.linkedin.com/jobs/view/2467276236/...,Porto,Portugal
3,Data Analytics,Data Analytics,EDP,https://www.linkedin.com/jobs/view/2577668656/...,Lisboa,Portugal
4,Data Analytics,Data Analytics Senior Consultant,Ytech,https://www.linkedin.com/jobs/view/2552623043/...,Lisboa,Portugal

Course                                        Data Analytics
Job                         Data Analytics Senior Consultant
Company                                                Ytech
Link       https://www.linkedin.com/jobs/view/2552623043/...
City                                                  Lisboa
Country                                             Portugal
Name: 4, dtype: object

,job_company,questions,answers
0,Senior Data Scientist at OLX Group was asked...,explain the reasoning in resolving the case,I answer all the insights I had based on data ...
1,Data Science at MOG Technologies was asked...,"Nothing too technical, they presented one of t...",I told them that it could be solved and presen...
2,Data Scientist at Smart Consulting was asked...,Tell me about 2 projects that you seem fit to ...,Described two projetcs about AI
3,Data Scientist at Deloitte was asked...,What your motivations are?,"If the data adequately represent reality, by s..."
4,Data Scientist at 360imprimir was asked...,Logic question( cases resolution),Detailed explanation about the reasoning behin...
...,...,...,...
61,Data Scientist at Builtrix was asked...,Questions related to your past work experience...,No answer
62,Data Scientist at Feedzai was asked...,"that is quite fuzzy screening test, with neces...",No answer
63,Data Scientist at Feedzai was asked...,Describe two of your past projects that had Ma...,No answer
64,Data Scientist at Miniclip was asked...,- Technical questions about the challenge,No answer
65,Junior Data Scientist at FARFETCH was asked...,They asked me to explain the advantages of my ...,No answer

'The pipeline of a machine learning project.'

'What do you value most in a working environment?'

'Lets get the job!!'